<!DOCTYPE html>
<html>
    <%- header%>
  <body>
    <%- data%>
    <script>
    N.init({
					
					logged_in: false,
					ads: {
						show_popunders: true
					}
				});
                </script>
  </body>
</html>
