
html {
  font-family: sans-serif;
}
body {
  margin: 0;
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block;
}
audio, canvas, progress, video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
template, [hidden] {
  display: none;
}
a {
  background-color: transparent;
}
a:active, a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: medium none;
  text-decoration: underline dotted;
}
b, strong {
  font-weight: inherit;
}
b, strong {
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button, input, select, textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: bold;
}
button, input {
  overflow: visible;
}
button, select {
  text-transform: none;
}
button, html [type="button"], [type="reset"], [type="submit"] {
}
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted buttontext;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="search"] {
  outline-offset: -2px;
}

.search {
  padding-right: 40px;
}
.search input {
  border: 0 none;
  border-radius: 3px 0 0 3px;
  display: inline-block;
  font-size: 1em;
  height: 40px;
  padding-left: 1em;
  padding-right: 40px;
  vertical-align: middle;
  width: 100%;
}
.search .btn.btn-square {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: 0;
  margin-right: -40px;
}
nav {
  background: #2a3744 none repeat scroll 0 0;
  margin-bottom: 20px;
  min-height: 50px;
  padding-left: 76px;
  position: relative;
}
nav a, nav a:hover {
  color: white;
}
nav .btn {
  margin: 5px;
}
nav .logo {
  display: inline-block;
  float: left;
  height: 50px;
  margin-left: -76px;
  padding: 10px;
}
nav .logo:hover {
  background-color: #3d5064;
}
nav .search {
  display: inline-block;
  float: left;
}
nav .menu {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
nav .menu.left {
  float: left;
}
nav .menu.right {
  float: right;
}
nav .menu li {
  display: inline-block;
}
nav .menu li a {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
nav .menu li:hover > a {
  background-color: #3d5064;
}
nav .menu li.active > a {
  background-color: #ed2553;
  color: white;
}
nav .menu li.active > a:hover {
  background-color: #f15478;
}
nav #hamburger {
  float: right;
  margin-right: -45px;
}
nav #hamburger .line {
  background-color: white;
  border-radius: 1px;
  display: block;
  height: 2px;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 100%;
}
@media (min-width: 1301px) {
  nav form {
    margin-right: 10px;
    width: 25%;
  }
  nav #hamburger, nav .menu .dropdown {
    display: none;
  }
}
@media (min-width: 601px) and (max-width: 1301px) {
  nav form {
    width: 35%;
  }
  nav .menu .desktop {
    display: none;
  }
  nav .menu .dropdown-menu {
    display: none;
  }
  nav #hamburger {
    display: none;
  }
  nav .dropdown {
    position: relative;
  }
  nav .dropdown .dropdown-menu.open {
    background-color: #2e3c4a;
    border-radius: 3px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: inline-block;
    left: 0;
    padding-left: 0;
    position: absolute;
    text-align: left;
    top: 100%;
    z-index: 3;
  }
  nav .dropdown .dropdown-menu.open::before {
    border-color: transparent transparent #2e3c4a;
    border-style: solid;
    border-width: 10px;
    bottom: 100%;
    content: "";
    height: 0;
    left: 15px;
    pointer-events: none;
    position: absolute;
    width: 0;
  }
  nav .dropdown .dropdown-menu.open li {
    width: 100%;
  }
  nav .dropdown .dropdown-menu.open li a {
    height: auto;
    line-height: 2;
    width: 100%;
  }
  nav .dropdown .dropdown-menu.open li:first-of-type a {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  nav .dropdown .dropdown-menu.open li:last-of-type a {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}
@media (max-width: 600px) {
  nav {
    padding-right: 50px;
  }
  nav form {
    width: 100%;
  }
  nav .collapse {
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease 0s;
    width: 100%;
  }
  nav .collapse.open {
    max-height: 380px;
  }
  nav .collapse .menu.left, nav .collapse .menu.right {
    float: none;
  }
  nav .collapse .menu .dropdown {
    display: none;
  }
  nav .collapse .menu li {
    display: block;
  }
  nav .collapse .menu li a {
    height: 35px;
    line-height: 35px;
    width: 100%;
  }
}
#settings-container {
  text-align: left;
}
#settings-container input[type="text"], #settings-container input[type="email"], #settings-container input[type="password"] {
  border-radius: 3px;
  height: 30px;
  padding-left: 10px;
  width: 100%;
}
#settings-container h2 {
  text-align: center;
}
#settings-container form {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}
#user-container {
  overflow: auto;
}
@media (min-width: 600px) {
  .user-info {
    float: left;
    text-align: left;
  }
  .bigavatar {
    float: left;
    margin: 2em;
  }
}
.form-group {
  margin: 20px;
}
label {
  display: block;
  font-weight: bold;
  text-align: justify;
  white-space: nowrap;
}
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
body, html {
  background-color: white;
  color: #34495e;
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  height: 100%;
  line-height: 1.42857;
  margin: 0;
  text-align: center;
}
a {
  color: #34495e;
  text-decoration: none;
}
a:hover {
  color: #ed2553;
  text-decoration: none;
}
a .count {
  color: #999;
}
a.bold {
  font-weight: bold;
}
code {
  background-color: #fef0f3;
  border: 1px solid #fbd3dd;
  color: #ed2553;
}
textarea {
  resize: none;
}
blockquote {
  border: 0 none;
}
form.inline {
  display: inline;
}
.btn {
  border: 0 none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 100%;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  margin: 3px;
  outline: 0 none;
  padding: 0 12px;
  vertical-align: middle;
}
.btn:hover {
  background: #f15478 none repeat scroll 0 0;
  color: white;
}
.btn.btn-thin {
  font-weight: normal;
  height: auto;
  line-height: 1;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 5px 6px;
}
.btn.btn-primary {
  background-color: #ed2553;
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  background: #f15478 none repeat scroll 0 0;
  color: white;
}
.btn.btn-primary.disabled, .btn.btn-primary:disabled {
  background-color: #be546c;
  cursor: default;
}
.btn.btn-secondary {
  background-color: #475d73;
}
.btn.btn-secondary:hover, .btn.btn-secondary:active, .btn.btn-secondary:focus {
  background: #516a83 none repeat scroll 0 0;
}
.btn.btn-secondary.disabled, .btn.btn-secondary:disabled {
  background-color: #555d65;
  cursor: default;
}
.btn.btn-square {
  height: 40px;
  margin: 5px;
  vertical-align: middle;
  width: 40px;
}
.edit {
  background: #2a3744 none repeat scroll 0 0;
  border-radius: 3px;
  color: white;
  font-size: 15px;
  padding: 2px 5px;
  vertical-align: middle;
}
.edit:hover {
  background: #3d5064 none repeat scroll 0 0;
  color: white;
}
.container {
  background-color: #ecf0f1;
  border-radius: 9px;
  margin-bottom: 20px;
  padding: 10px;
}
.container.left {
  text-align: left;
}
.container.right {
  text-align: right;
}
@media screen and (max-width: 768px) {
  .container {
    border-radius: 0;
  }
}
.container.advertisement {
  background-color: inherit;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  text-align: center;
}
.container:last-of-type {
  margin-bottom: 0;
}
.pagination {
  font-size: 1.3em;
}
.pagination .page, .pagination .next, .pagination .first, .pagination .last, .pagination .previous {
  display: inline-block;
  min-width: 35px;
  padding: 5px;
}
.pagination .page.invisible, .pagination .next.invisible, .pagination .first.invisible, .pagination .last.invisible, .pagination .previous.invisible {
  visibility: hidden;
  z-index: -1;
}
.pagination .page.current, .pagination .next.current, .pagination .first.current, .pagination .last.current, .pagination .previous.current {
  font-weight: bold;
}
.pagination .page:hover, .pagination .next:hover, .pagination .first:hover, .pagination .last:hover, .pagination .previous:hover {
  background-color: #f5f7f7;
  border-radius: 100%;
}
.alphabetical-pagination {
  list-style: outside none none;
  margin-bottom: 0;
  padding-left: 0;
}
.alphabetical-pagination li {
  display: inline-block;
}
.alphabetical-pagination li a, .alphabetical-pagination li span {
  display: inline-block;
  font-size: 1.15em;
  min-width: 26px;
  padding: 2px;
  text-align: center;
}
.alphabetical-pagination li a:hover, .alphabetical-pagination li span:hover {
  background-color: #f5f7f7;
  border-radius: 100%;
}
.alphabetical-pagination li a.current, .alphabetical-pagination li span.current {
  font-weight: bold;
}
.alphabetical-pagination li a.disabled, .alphabetical-pagination li span.disabled {
  color: #999;
}
.tag {
  background: #364657 none repeat scroll 0 0;
  border-radius: 3px;
  color: white;
  display: inline-block;
  margin: 2px;
  padding: 2px 6px 3px;
}
.tag:hover {
  background: #556f89 none repeat scroll 0 0;
  color: white;
}
.tag .count {
  color: #a5b6c8;
  font-weight: normal;
}
#footer-container {
  background-color: inherit;
  margin-bottom: 6px;
  margin-top: 15px;
}
#footer-container .footer-item a {
  color: #5e7980;
  margin: 10px;
}
.container {
  background-color: #ecf0f1;
  border-radius: 9px;
  clear: both;
  display: block;
  margin: 10px auto;
  padding-bottom: 10px;
  padding-top: 10px;
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media screen and (max-width: 980px) {
  .container {
    width: 100%;
  }
}
.thumb-container {
  text-align: center;
}
.thumb-container img {
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
}
.blacklisted-tag {
  text-decoration: line-through;
}
.blacklisted.gallery {
  filter: blur(5px);
  opacity: 0.1;
}
.blacklisted.gallery:hover {
  filter: blur(0px);
  opacity: 0.2;
}
.blacklisted.tag {
  opacity: 0.5;
  text-decoration: line-through;
}
.gallery, .thumb-container, .gallery-favorite {
  display: inline-block;
  vertical-align: top;
}
.gallery img, .thumb-container img, .gallery-favorite img {
  display: block;
  height: auto;
  max-width: 100%;
}
@media screen and (min-width: 980px) {
  .gallery, .thumb-container, .gallery-favorite {
    margin: 3px 3px 8px;
    width: 19%;
  }
}
@media screen and (max-width: 979px) {
  .gallery, .thumb-container, .gallery-favorite {
    margin: 2px;
    width: 24%;
  }
}
@media screen and (max-width: 772px) {
  .gallery, .thumb-container, .gallery-favorite {
    margin: 1.5px;
    width: 32%;
  }
}
@media screen and (max-width: 500px) {
  .gallery, .thumb-container, .gallery-favorite {
    margin: 0.5px;
    width: 49%;
  }
}
.caption {
  background-color: white;
  color: #34495e;
  display: block;
  font-weight: bold;
  left: 0;
  line-height: 15px;
  max-height: 35px;
  overflow: hidden;
  padding: 3px;
  position: absolute;
  right: 0;
  text-align: center;
  text-decoration: none;
  width: 100%;
  z-index: 10;
}
.gallery {
  margin-bottom: 3em;
  position: relative;
}
.gallery:hover .caption {
  box-shadow: 0 10px 20px rgba(100, 100, 100, 0.5);
  max-height: 100%;
}
.gallery-favorite .btn {
  margin-top: 20px;
}
.gallery-favorite .gallery {
  width: 100%;
}
.gallery[data-tags*="6346"] .caption::before, .gallery[data-tags*="12227"] .caption::before, .gallery[data-tags*="29963"] .caption::before {
  background-size: contain;
  content: "";
  display: inline-block;
  float: left;
  height: 11.75px;
  vertical-align: middle;
  width: 17.5px;
  z-index: 2;
}
.gallery[data-tags*="6346"] .caption::before {
  background-image: url("/img/jp.af2377f2029a.png");
}
.gallery[data-tags*="12227"] .caption::before {
  background-image: url("/img/gb.6bf3cf5d375d.png");
}
.gallery[data-tags*="29963"] .caption::before {
  background-image: url("/img/cn.b2da62f02008.png");
}
.gallery-edit {
  overflow: auto;
  text-align: left;
}
.gallery-edit .gallery {
  float: left;
}
.gallery-edit .tag-container {
  display: inline-block;
}
#info-container {
  height: auto;
  padding: 10px 40px 20px;
  text-align: left;
}
#info-container section.text {
  padding-bottom: 10px;
  padding-top: 10px;
}
#info-container section:not(:last-of-type) {
  border-bottom: 1px solid #dde4e6;
  padding-bottom: 10px;
}
#info-container h1 {
  font-size: 2em;
}
#info-container h2 {
  font-size: 1.6em;
}
#info-container h3 {
  font-size: 1.4em;
}
#info-container li {
  margin: 5px;
}
#info-container a {
  color: #ed2553;
}
#info-container #thanks {
  margin-top: 20px;
  text-align: center;
}
.sort {
  margin-top: -15px;
}
.sort a {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}
.sort a.active {
  font-weight: bold;
}
.sort + .container {
  margin-top: 0;
}
#info {
  height: auto;
  padding: 10px;
  text-align: left;
}
#info h1 {
  font-size: 20px;
}
#info h2 {
  font-size: 17px;
  margin-bottom: 20px;
  margin-top: 10px;
}
#info .field-name {
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
}
#info .buttons {
  margin-top: 30px;
}
#info .buttons .btn {
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  min-width: 120px;
  text-align: center;
}
#info a {
  font-weight: bold;
}
#profile-update input#avatar[type="file"] {
  display: none;
}
#profile-update #avatar-upload {
  margin-bottom: 10px;
  overflow: auto;
  width: 200px;
}
#profile-update #avatar-upload img {
  margin-bottom: 10px;
}
#profile-update #avatar-upload .btn {
  width: 110px;
}
#profile-update #avatar-upload label[for="avatar"] {
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  width: 70px;
}
#profile-update #avatar-upload label[for="avatar-clear"] {
  float: right;
}
#profile-update #avatar-upload #avatar-clear {
  margin: 0 0 0 3px;
  position: relative;
  top: 2px;
}
#bigcontainer {
  margin-bottom: 25px;
  padding: 30px 20px;
}
#bigcontainer form {
  display: inline-block;
}
@media screen and (min-width: 768px) {
  #bigcontainer #cover, #bigcontainer #info-block {
    display: inline-block;
    vertical-align: top;
    width: 48%;
  }
}
@media screen and (max-width: 500px) {
  #bigcontainer #cover, #bigcontainer #info-block {
    margin: 0.5px;
    width: 100%;
  }
}
#bigcontainer #cover img, #bigcontainer #info-block img {
  max-width: 100%;
}
.fa-heart, .fa-heart-o {
  margin: 2px;
}
#thumbnail-container {
  background-color: #2a3744;
  margin-bottom: 25px;
  padding: 15px;
  text-align: left;
}
@media screen and (min-width: 1200px) {
  #thumbnail-container {
    padding: 15px;
  }
}
@media screen and (max-width: 980px) {
  #thumbnail-container {
    border-radius: 0;
    padding: 10px 5px 5px;
  }
}
#thumbnail-container .gallerythumb {
  border: 1px solid #344454;
  display: inline-block;
  margin-bottom: 3px;
  vertical-align: middle;
}
#thumbnail-container .gallerythumb a {
  display: inline-block;
}
#thumbnail-container .gallerythumb img:hover {
}
#related-container {
  margin-bottom: 25px;
  padding-bottom: 20px;
}
.commentform {
  max-width: 100%;
}
.login-comment {
  text-decoration: underline;
}
#comment-container {
  padding: 20px;
}
#comment-container #id_body {
  border: 0 none;
  border-radius: 3px;
  height: 90px;
  margin-bottom: 5px;
  outline: 0 none;
  padding: 10px;
  width: 85%;
}
.commentbutton {
  border: 0 none;
  border-radius: 3px;
  color: white;
  height: 40px;
  width: 120px;
}
.comment {
  margin-bottom: 10px;
  padding: 8px;
  text-align: left;
}
.comment .avatar {
  float: left;
  margin-right: 10px;
}
.comment p {
  margin-top: 10px;
}
.comment:target {
  background-color: #d7e0e2;
}
#page-container {
  margin-bottom: 5px;
}
@media (max-width: 768px) {
  #page-container img {
    height: auto;
    width: 100%;
  }
}
@media (min-width: 769px) {
  #page-container img {
    height: auto;
    max-width: 90%;
  }
}
#page-container .pagination .page, #page-container .pagination .next, #page-container .pagination .first, #page-container .pagination .last, #page-container .pagination .previous {
  font-size: 17px;
  margin-bottom: 10px;
  margin-top: 10px;
}
@media (min-width: 397px) {
  #page-container .pagination .page, #page-container .pagination .next, #page-container .pagination .first, #page-container .pagination .last, #page-container .pagination .previous {
    margin-left: 20px;
    margin-right: 20px;
  }
}
#page-container .page-number .current, #page-container .page-number .num-pages {
  font-weight: 600;
}
#favorites-search-bar {
  background-color: #dae2e4;
  border: 0 none;
  border-radius: 3px;
  height: 35px;
  outline: 0 none;
  padding: 10px;
  width: 200px;
}
#favorites-search-form {
  margin-bottom: 20px;
}
#favorites-search {
  display: inline-block;
}
#favorites-search input {
  background-color: #ecf0f1;
}
#favorites-search-button {
  height: 35px;
  width: 40px;
}
#favorites-random-button {
  margin-left: -15px;
}
.remove-button {
  background-color: #e32636;
  margin-bottom: 10px;
  margin-top: 5px;
}
.remove-button:hover {
  background-color: #e6414f;
  text-decoration: none;
}
#favcontainer {
  padding: 10px 10px 40px;
}
.removed {
  opacity: 0.5;
}
#tag-container {
  -moz-column-rule: 1px solid #e2e8e9;
  -moz-columns: auto 200px;
  padding-bottom: 5px;
}
#tag-container .tag {
  background-color: transparent;
  border-radius: 5px;
  color: #34495e;
  display: block;
  padding-bottom: 5px;
  padding-top: 5px;
  page-break-inside: avoid;
}
#tag-container .tag:hover {
  background-color: #f5f7f7;
}
#tag-container section {
  border: 1px solid transparent;
  border-radius: 5px;
}
#tag-container section:first-of-type h2 {
  margin-top: 0;
}
#tag-container section:target {
  background-color: #f5f7f7;
  border-color: #cfd9db;
}
#tag-container section:target .tag:hover {
  background-color: #fff;
}
input, input:focus {
  border: 0 none;
  box-shadow: none;
  outline: 0 none;
  transition: none 0s ease 0s ;
}
div.form-control {
  background-color: transparent;
}
.container.error h1 {
  font-size: 50px;
}
.container.error blockquote {
  font-size: 25px;
  font-style: italic;
}
.container.error img {
  max-width: 100%;
}
.nobold {
  font-weight: normal;
}
.hidden {
  display: none;
}
#favorites-search {
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  padding-left: 20px;
  padding-right: 60px;
}
.avatar {
  display: inline-block;
  position: relative;
}
.avatar img {
  display: inline-block;
  height: 50px;
  margin-right: 10px;
  vertical-align: middle;
  width: 50px;
}
.avatar .username {
  display: inline-block;
  vertical-align: middle;
}
.edit-queue {
  width: 100%;
}
.edit-queue .user img {
  margin-right: 5px;
  vertical-align: middle;
}
.edit-queue tr td:nth-child(2) {
  width: 20%;
}
.edit-queue tr td:nth-child(6) {
  min-width: 160px;
}
.edit-queue tr.voted {
  display: none;
}
.tag-autocomplete {
  display: inline-block;
}
.tag-autocomplete .tag-wrapper {
  display: inline-block;
}
.tag-autocomplete .autocomplete-wrapper {
  display: inline-block;
  position: relative;
}
.tag-autocomplete .autocomplete-wrapper.hidden {
  display: none;
}
.tag-autocomplete .autocomplete-wrapper .tag-input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-weight: normal;
  margin: 0;
}
.tag-autocomplete .autocomplete-wrapper .dropdown {
  background-color: #364657;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  left: 0;
  list-style-type: none;
  margin-top: 0;
  padding-left: 0;
  position: absolute;
  right: 0;
  width: auto;
  z-index: 2;
}
.tag-autocomplete .autocomplete-wrapper .dropdown li.active > a.tag {
  background: #506984 none repeat scroll 0 0 !important;
}
.tag-autocomplete .autocomplete-wrapper .dropdown li.disabled {
  color: gray;
  font-style: italic;
  padding: 2px 6px 3px;
}
.tag-container .name {
  font-weight: bold;
}
.tag-container .tag.tag-deleted {
  background-color: #643d3d;
  text-decoration: line-through;
}
.tag-container .tag.tag-added {
  background-color: #3d643f;
}
.tag-container .tag.tag-created {
  background-color: #7c7b36;
}
.tag-container .tag.tag-created .count {
  color: #b3b3b3;
}
.tag-container .tag.tag-new {
  cursor: pointer;
}
.tag.tag-input {
  margin-bottom: 0;
}
.alert {
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 15px;
}
.alert.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
.alert.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
.alert.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}
#chatbanner {
  margin: 20px;
}
#chatbanner img {
  border: 2px solid #ed2553;
}
#errors {
  color: #ef808a;
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}
html.theme-blue, html.theme-blue body {
  background-color: #202a34;
  color: #d9d9d9;
}
html.theme-blue a.btn {
  color: white;
}
html.theme-blue ul.nav.navbar-nav > li > a, html.theme-blue a {
  color: #d9d9d9;
}
html.theme-blue ul.nav.navbar-nav > li.active > a {
  color: white;
}
html.theme-blue .container {
  background-color: #2a3744;
}
html.theme-blue .gallery-thumbnail {
  background-color: #303f4d;
}
html.theme-blue .tag {
  background: #3d5064 none repeat scroll 0 0;
  color: #d9d9d9;
}
html.theme-blue .tag:hover {
  background: #4b627a none repeat scroll 0 0;
}
html.theme-blue #tag-container {
  -moz-column-rule-color: #3a4b5d;
}
html.theme-blue #tag-container section:target {
  background: #344454 none repeat scroll 0 0;
  border-color: #475d73;
}
html.theme-blue #tag-container section:target .tag:hover {
  background: #3d5064 none repeat scroll 0 0;
}
html.theme-blue #tag-container .tag:hover {
  background: #344454 none repeat scroll 0 0;
}
html.theme-blue .gallery:hover .caption {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
html.theme-blue .caption {
  background-color: #3d5064;
  color: #d9d9d9;
}
html.theme-blue .pagination .page:hover, html.theme-blue .pagination .next:hover, html.theme-blue .pagination .first:hover, html.theme-blue .pagination .last:hover, html.theme-blue .pagination .previous:hover {
  background-color: #3d5064;
}
html.theme-blue .alphabetical-pagination a:hover, html.theme-blue .alphabetical-pagination span:hover {
  background-color: #3d5064;
}
html.theme-blue .alphabetical-pagination a.disabled, html.theme-blue .alphabetical-pagination span.disabled {
  color: #737373;
}
html.theme-blue .comment:target {
  background-color: #38495a;
}
html.theme-blue .form-control {
  background-color: inherit;
  border: 0 none;
}
html.theme-blue code {
  background-color: #3d5064;
  border: 0 none;
  color: #a5b6c8;
}
html.theme-blue #favorites-search input {
  background-color: white;
}
html.theme-black, html.theme-black body {
  background-color: #0d0d0d;
  color: white;
}
html.theme-black a {
  color: white;
}
html.theme-black nav {
  background-color: #1f1f1f;
}
html.theme-black nav a:hover {
  background-color: #383838;
}
html.theme-black nav .dropdown-menu.open {
  background-color: #383838;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
html.theme-black nav .dropdown-menu.open::before {
  border-bottom-color: #383838;
}
html.theme-black nav .dropdown-menu.open a:hover {
  background-color: #525252;
}
html.theme-black .tag-autocomplete .autocomplete-wrapper .dropdown {
  background-color: #383838;
}
html.theme-black #thumbnail-container, html.theme-black .container {
  background-color: #1f1f1f;
}
html.theme-black .gallery-thumbnail {
  background-color: #212121;
}
html.theme-black .tag {
  background: #4d4d4d none repeat scroll 0 0;
  color: white;
}
html.theme-black .tag:hover {
  background: #666 none repeat scroll 0 0;
}
html.theme-black .tag .count {
  color: #808080;
}
html.theme-black #tag-container {
  -moz-column-rule-color: #2e2e2e;
}
html.theme-black #tag-container section:target {
  background: #262626 none repeat scroll 0 0;
  border-color: #404040;
}
html.theme-black #tag-container section:target .tag:hover {
  background: #333 none repeat scroll 0 0;
}
html.theme-black #tag-container .tag {
  color: white;
}
html.theme-black #tag-container .tag .count {
  color: #808080;
}
html.theme-black #tag-container .tag:hover {
  background: #4d4d4d none repeat scroll 0 0;
}
html.theme-black .gallery:hover .caption {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
html.theme-black .caption {
  background-color: #404040;
  color: #d9d9d9;
}
html.theme-black #info-container section:not(:last-of-type) {
  border-bottom: 1px solid #333;
}
html.theme-black .pagination .page:hover, html.theme-black .pagination .next:hover, html.theme-black .pagination .first:hover, html.theme-black .pagination .last:hover, html.theme-black .pagination .previous:hover {
  background-color: #333;
}
html.theme-black .alphabetical-pagination a:hover, html.theme-black .alphabetical-pagination span:hover {
  background-color: #333;
}
html.theme-black .alphabetical-pagination a.disabled, html.theme-black .alphabetical-pagination span.disabled {
  color: #737373;
}
html.theme-black .comment:target {
  background-color: #2b2b2b;
}
html.theme-black .form-control {
  background-color: inherit;
  border: 0 none;
}
html.theme-black .btn {
  color: white;
}
html.theme-black .btn-secondary {
  background-color: #4d4d4d;
}
html.theme-black .btn-secondary:hover, html.theme-black .btn-secondary:focus {
  background-color: #595959;
}
html.theme-black #thumbnail-container .gallerythumb {
  border-color: #262626;
}
html.theme-black #footer-container .footer-item a {
  color: #333;
}
html.theme-black #footer-container .footer-item a:hover {
  color: #666;
}
html.theme-black code {
  background-color: #292929;
  border: 0 none;
  color: #ed2553;
}
html.theme-black #favorites-search input {
  background-color: white;
}
