body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
body, html {
  background-color: white;
  color: #34495e;
  font-family: "Open Sans",sans-serif;
  height: 100%;
  text-align: center;
}
body.modal-open, html.modal-open {
  overflow: visible;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a, .navbar-default .navbar-nav .open .dropdown-menu {
  background-color: #2a3744;
  color: white;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu a:hover {
  background-color: #516a83;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background: #516a83 none repeat scroll 0 0;
  color: white;
}
li.dropdown {
  display: block;
  margin-top: 0;
}
@media (min-width: 768px) and (max-width: 1301px) {
  li.dropdown {
    display: inline-block !important;
    margin-top: 10px;
  }
}
@media (min-width: 1301px) {
  li.dropdown {
    display: none;
  }
}
@media (max-width: 768px) {
  li.dropdown {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1300px) {
  #navbar li.desktop-link {
    display: none;
  }
}
a {
  color: #34495e;
  text-decoration: none;
}
a:hover {
  color: #ed2553;
  text-decoration: none;
}
a .count {
  color: #999;
}
a.bold {
  font-weight: bold;
}
code {
  background-color: #fef0f3;
  border: 1px solid #fbd3dd;
  color: #ed2553;
}
textarea {
  resize: none;
}
blockquote {
  border: 0 none;
}
form.inline {
  display: inline;
}
button, .btn, #search-button, .tag, #mobile-dropdown {
  background-color: #ed2553;
  border: 0 none;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  outline: 0 none;
}
button:hover, .btn:hover, #search-button:hover, .tag:hover, #mobile-dropdown:hover, button.hover, .btn.hover, #search-button.hover, .tag.hover, #mobile-dropdown.hover {
  background: #f15478 none repeat scroll 0 0;
  color: white;
}
button.btn-thin, .btn.btn-thin, #search-button.btn-thin, .tag.btn-thin, #mobile-dropdown.btn-thin {
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 1px 6px;
}
button.btn-danger, .btn.btn-danger, #search-button.btn-danger, .tag.btn-danger, #mobile-dropdown.btn-danger {
  background-color: #e32636;
}
button.primary, .btn.primary, #search-button.primary, .tag.primary, #mobile-dropdown.primary, button.btn-primary, .btn.btn-primary, #search-button.btn-primary, .tag.btn-primary, #mobile-dropdown.btn-primary {
  background-color: #ed2553;
}
button.primary:hover, .btn.primary:hover, #search-button.primary:hover, .tag.primary:hover, #mobile-dropdown.primary:hover, button.btn-primary:hover, .btn.btn-primary:hover, #search-button.btn-primary:hover, .tag.btn-primary:hover, #mobile-dropdown.btn-primary:hover, button.primary:active, .btn.primary:active, #search-button.primary:active, .tag.primary:active, #mobile-dropdown.primary:active, button.btn-primary:active, .btn.btn-primary:active, #search-button.btn-primary:active, .tag.btn-primary:active, #mobile-dropdown.btn-primary:active, button.primary:focus, .btn.primary:focus, #search-button.primary:focus, .tag.primary:focus, #mobile-dropdown.primary:focus, button.btn-primary:focus, .btn.btn-primary:focus, #search-button.btn-primary:focus, .tag.btn-primary:focus, #mobile-dropdown.btn-primary:focus {
  background: #f15478 none repeat scroll 0 0;
  border: 0 none;
  color: white;
}
button.secondary, .btn.secondary, #search-button.secondary, .tag.secondary, #mobile-dropdown.secondary, button.btn-secondary, .btn.btn-secondary, #search-button.btn-secondary, .tag.btn-secondary, #mobile-dropdown.btn-secondary {
  background-color: #475d73;
}
button.secondary:hover, .btn.secondary:hover, #search-button.secondary:hover, .tag.secondary:hover, #mobile-dropdown.secondary:hover, button.btn-secondary:hover, .btn.btn-secondary:hover, #search-button.btn-secondary:hover, .tag.btn-secondary:hover, #mobile-dropdown.btn-secondary:hover {
  background: #516a83 none repeat scroll 0 0;
}
.announcement {
  margin: 5px;
}
.announcement a {
  color: #ed2553 !important;
}
#chatbanner {
  margin: 5px;
}
#chatbanner img {
  height: 100px;
  width: 300px;
}
.edit {
  background: #2a3744 none repeat scroll 0 0;
  border-radius: 3px;
  color: white;
  font-size: 15px;
  padding: 2px 5px;
  vertical-align: middle;
}
.edit:hover {
  background: #3d5064 none repeat scroll 0 0;
  color: white;
}
.container {
  background-color: #e1e7e9;
  border-radius: 9px;
  margin-bottom: 20px;
  padding: 10px;
}
@media screen and (max-width: 768px) {
  .container {
    border-radius: 0;
  }
}
.container.advertisement {
  background-color: inherit;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  text-align: center;
}
.container:last-of-type:not(:first-of-type) {
  margin-bottom: 0;
}
.pagination {
  font-size: 1.3em;
}
.pagination .page, .pagination .next, .pagination .first, .pagination .last, .pagination .previous {
  display: inline-block;
  min-width: 35px;
  padding: 5px;
}
.pagination .page.invisible, .pagination .next.invisible, .pagination .first.invisible, .pagination .last.invisible, .pagination .previous.invisible {
  visibility: hidden;
  z-index: -1;
}
.pagination .page:hover, .pagination .next:hover, .pagination .first:hover, .pagination .last:hover, .pagination .previous:hover {
  background-color: #eaeeef;
  border-radius: 100%;
}
.pagination .page.current {
  font-weight: bold;
}
.pagination.simple .first, .pagination.simple .next, .pagination.simple .previous {
  border: 1px solid transparent;
  display: inline-block;
  padding: 10px;
}
.pagination.simple .first.invisible, .pagination.simple .next.invisible, .pagination.simple .previous.invisible {
  visibility: hidden;
  z-index: -1;
}
.pagination.simple .first:hover, .pagination.simple .next:hover, .pagination.simple .previous:hover {
  background-color: #eaeeef;
  border-radius: 30px;
}
.nav-tabs {
  margin-bottom: 10px;
}
.nav-tabs li a {
  border: medium none transparent;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: transparent;
  box-shadow: none;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar.navbar-default {
  background-color: #2a3744;
  border: 0 none;
  border-radius: 0;
  margin-top: 0;
}
.navbar.navbar-default .navbar-brand {
  color: white;
  font-size: 25px;
}
.navbar.navbar-default .navbar-brand img {
  height: 30px;
  padding-bottom: 10px;
  width: 46px;
}
.navbar.navbar-default li a {
  color: white;
  text-decoration: none;
}
.navbar.navbar-default li a:hover {
  color: #ed2553;
}
.navbar.navbar-default #mobile-sandwich {
  height: 35px;
  position: relative;
  top: 1px;
}
.navbar.navbar-default #mobile-dropdown {
  height: 35px;
  left: -11px;
  position: relative;
  top: -2px;
}
.navbar.navbar-default #search-form {
  padding-bottom: 0;
  padding-top: 0;
}
.navbar.navbar-default #search-form .form-group {
  margin-bottom: 0;
}
.navbar.navbar-default #searchbar {
  background-color: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: none;
  display: inline-block;
  margin: 0 auto;
  outline: 0 none;
  vertical-align: middle;
  width: 250px;
}
@media (max-width: 480px) {
  .navbar.navbar-default #searchbar {
    width: 50%;
  }
}
@media (max-width: 380px) {
  .navbar.navbar-default #searchbar {
    width: 42%;
  }
}
.navbar.navbar-default #search-button, .navbar.navbar-default #loginbutton {
  background: #ed2553 none repeat scroll 0 0;
  border: 0 none;
  border-radius: 3px;
  color: white;
  font-size: 1.2em;
  height: 35px;
  outline: 0 none;
  width: 45px;
}
.navbar.navbar-default #search-button:hover {
  background: #f15478 none repeat scroll 0 0;
}
.navbar.navbar-default #loginbutton {
  font-size: 0.5em;
  height: 30px;
}
.navbar.navbar-default .navbar-toggle {
  background: #ed2553 none repeat scroll 0 0;
  border: 0 none;
  border-radius: 3px;
  font-size: 1.2em;
}
#errors {
  color: #ef808a;
  list-style-type: none;
  padding-left: 0;
}
label {
  width: 10%;
}
#footer-container {
  background-color: inherit;
  margin-bottom: 6px;
  margin-top: 15px;
}
#footer-container .footer-item a {
  color: #566d75;
  margin: 10px;
}
.index-container {
  padding-bottom: 10px;
}
.index-container ul {
  margin-bottom: 10px;
}
.thumbnail {
  background-color: #eaeeef;
  border: 0 none;
  margin-bottom: 0;
  padding: 0;
}
.ncontainer {
  background-color: #e1e7e9;
  border-radius: 9px;
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}
@media screen and (min-width: 1200px) {
  .ncontainer {
    width: 1170px;
  }
}
@media screen and (max-width: 980px) {
  .ncontainer {
    width: 100%;
  }
}
.ncontainer.padded {
  padding: 10px;
}
.ncontainer.left {
  text-align: left;
}
.thumb-container {
  overflow: hidden;
  position: relative;
  text-align: center;
}
.thumb-container img {
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
}
.gallery, .thumb-container, .gallery-favorite {
  display: inline-block;
  position: relative;
  vertical-align: top;
}
.gallery img, .thumb-container img, .gallery-favorite img, .gallery .cover, .thumb-container .cover, .gallery-favorite .cover {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.gallery a, .thumb-container a, .gallery-favorite a {
  color: #34495e;
  display: block;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}
@media screen and (min-width: 980px) {
  .gallery, .thumb-container, .gallery-favorite {
    margin: 3px 3px 2.5em;
    width: 19%;
  }
}
@media screen and (max-width: 979px) {
  .gallery, .thumb-container, .gallery-favorite {
    margin: 2px 2px 2.7em;
    width: 24%;
  }
}
@media screen and (max-width: 772px) {
  .gallery, .thumb-container, .gallery-favorite {
    margin: 1.5px 1.5px 2.85em;
    width: 32%;
  }
}
@media screen and (max-width: 500px) {
  .gallery, .thumb-container, .gallery-favorite {
    margin: 0 0 2.95em;
    width: 49%;
  }
}
.blacklisted-tag {
  text-decoration: line-through;
}
.blacklisted.gallery {
  filter: blur(5px);
  opacity: 0.1;
}
.blacklisted.gallery:hover {
  filter: blur(0px);
  opacity: 0.2;
}
.blacklisted.tag {
  opacity: 0.5;
  text-decoration: line-through;
}
.gallery-favorite .gallery {
  width: 100%;
}
.gallery-favorite .btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.tag-autocomplete {
  display: inline-block;
}
.tag-autocomplete .tag-wrapper {
  display: inline-block;
}
.tag-autocomplete .autocomplete-wrapper {
  display: inline-block;
  position: relative;
}
.tag-autocomplete .autocomplete-wrapper .tag-input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-weight: normal;
  margin: 0;
}
.tag-autocomplete .autocomplete-wrapper .dropdown {
  background-color: #364657;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  left: 0;
  list-style-type: none;
  padding-left: 0;
  position: absolute;
  right: 0;
  width: auto;
  z-index: 2;
}
.tag-autocomplete .autocomplete-wrapper .dropdown li.active > a.tag {
  background: #506984 none repeat scroll 0 0 !important;
}
.tag-autocomplete .autocomplete-wrapper .dropdown li.disabled {
  font-style: italic;
  padding: 2px 6px 3px;
}
.tag-container .name {
  font-weight: bold;
}
.tag-container .tag.tag-deleted {
  background-color: #643d3d;
  text-decoration: line-through;
}
.tag-container .tag.tag-added {
  background-color: #3d643f;
}
.tag-container .tag.tag-new {
  cursor: pointer;
}
.tag.tag-input {
  margin-bottom: 0;
}
.gallery[data-tags*="6346"] .caption::before, .gallery[data-tags*="12227"] .caption::before, .gallery[data-tags*="29963"] .caption::before {
  background-size: contain;
  content: "";
  display: inline-block;
  float: left;
  height: 11.75px;
  vertical-align: middle;
  width: 17.5px;
  z-index: 2;
}
.gallery[data-tags*="6346"] .caption::before {
  background-image: url("/img/jp.af2377f2029a.png");
}
.gallery[data-tags*="12227"] .caption::before {
  background-image: url("/img/gb.6bf3cf5d375d.png");
}
.gallery[data-tags*="29963"] .caption::before {
  background-image: url("/img/cn.b2da62f02008.png");
}
.caption {
  background-color: white;
  line-height: 15px;
  max-height: 35px;
  overflow: hidden;
  padding: 3px;
  position: absolute;
  width: 100%;
  z-index: 10;
}
.cover {
  position: relative;
}
.cover:hover .caption {
  box-shadow: 0 10px 20px rgba(100, 100, 100, 0.5);
  max-height: 100%;
}
#info-container {
  height: auto;
  padding: 10px 40px 20px;
  text-align: left;
}
#info-container .blog, #info-container .twitter, #info-container .irc {
  font-weight: bold;
}
#info-container section.text {
  padding-bottom: 10px;
  padding-top: 10px;
}
#info-container section:not(:last-of-type) {
  border-bottom: 1px solid #d2dbde;
  padding-bottom: 10px;
}
#info-container h1 {
  font-size: 2em;
}
#info-container h2 {
  font-size: 1.6em;
}
#info-container h3 {
  font-size: 1.4em;
}
#info-container li {
  margin: 5px;
}
#info-container a {
  color: #ed2553;
}
#info-container .notice {
  margin-bottom: 20px;
  text-align: center;
}
#info-container #thanks {
  margin-top: 20px;
  text-align: center;
}
.sort {
  margin-top: -15px;
}
.sort a {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}
.sort a.active {
  font-weight: bold;
}
.sort + .container {
  margin-top: 0;
}
#list-container {
  margin-top: 10px;
  padding-left: 10px;
  text-align: center;
}
#list-container .tag-list-button {
  background-color: white;
  border-radius: 0;
  color: #34495e;
  min-height: 45px;
  width: 200px;
}
.tag {
  background: #364657 none repeat scroll 0 0;
  display: inline-block;
  margin: 2px;
  padding: 2px 6px 3px;
}
.tag:hover, .tag.hover {
  background: #556f89 none repeat scroll 0 0;
  color: white;
}
.tag .count {
  color: #a5b6c8;
  font-weight: normal;
}
#info {
  height: auto;
  padding: 10px;
  text-align: left;
}
#info h1 {
  font-size: 20px;
}
#info h2 {
  font-size: 17px;
  margin-bottom: 20px;
  margin-top: 10px;
}
#info .field-name {
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
}
#info .buttons {
  margin-top: 30px;
}
#info .buttons .btn {
  margin-bottom: 20px;
  min-width: 120px;
  padding-bottom: 10px;
  padding-top: 10px;
}
#info a {
  font-weight: bold;
}
#profile-update input#avatar[type="file"] {
  display: none;
}
#profile-update #avatar-upload {
  margin-bottom: 10px;
  overflow: auto;
  width: 200px;
}
#profile-update #avatar-upload img {
  margin-bottom: 10px;
}
#profile-update #avatar-upload .btn {
  width: 110px;
}
#profile-update #avatar-upload label[for="avatar"] {
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  width: 70px;
}
#profile-update #avatar-upload label[for="avatar-clear"] {
  float: right;
}
#profile-update #avatar-upload #avatar-clear {
  margin: 0 0 0 3px;
  position: relative;
  top: 2px;
}
#bigcontainer {
  margin-bottom: 25px;
  padding: 20px;
}
#bigcontainer #cover img {
  max-width: 100%;
}
.gallery-button {
  height: 40px;
  margin-top: 30px;
  min-width: 120px;
}
.fa-heart, .fa-heart-o {
  margin: 2px;
}
#thumbnail-container {
  background-color: #2a3744;
  margin-bottom: 25px;
  padding: 15px;
  text-align: left;
}
#thumbnail-container .thumb-container {
  margin-bottom: 5px;
}
@media screen and (min-width: 1200px) {
  #thumbnail-container {
    padding: 15px;
  }
}
@media screen and (max-width: 980px) {
  #thumbnail-container {
    border-radius: 0;
    padding: 5px;
  }
}
#thumbnail-container .gallerythumb {
  display: inline-block;
  margin-bottom: 3px;
  vertical-align: middle;
}
#thumbnail-container .gallerythumb a {
  display: inline-block;
}
#thumbnail-container .gallerythumb img:hover {
}
#thumbnail-container .gallerythumb .lazyload {
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid #344454;
  margin-left: auto;
  margin-right: auto;
}
#related-container {
  margin-bottom: 25px;
  padding-bottom: 20px;
}
.commentform {
  max-width: 100%;
}
.login-comment {
  text-decoration: underline;
}
#comment-container {
  margin-top: 20px;
  padding: 20px;
}
#comment-container #id_body {
  border: 0 none;
  border-radius: 3px;
  height: 90px;
  margin-bottom: 5px;
  outline: 0 none;
  padding: 10px;
  width: 85%;
}
.comment-column {
  background-color: #e1e7e9;
}
.commentbutton {
  border: 0 none;
  border-radius: 3px;
  color: white;
  height: 40px;
  width: 120px;
}
.comment {
  margin-bottom: 10px;
  padding: 8px;
  text-align: left;
}
.comment .avatar {
  float: left;
}
.comment .avatar img {
  height: 50px;
  margin-right: 20px;
  width: 50px;
}
.comment p {
}
.comment:target {
  background-color: #ccd7da;
}
#page-container {
}
#page-container img {
  height: auto;
  max-width: 100%;
}
#page-container .pagination .page, #page-container .pagination .next, #page-container .pagination .first, #page-container .pagination .last, #page-container .pagination .previous {
  font-size: 17px;
  margin-left: 20px;
  margin-right: 20px;
}
#page-container .page-number .current, #page-container .page-number .num-pages {
  font-weight: 600;
}
#page-container img.fit-horizontal {
  height: auto;
  max-width: 100%;
}
#page-container img.fit-vertical {
  max-height: 100%;
  width: auto;
}
@media (max-width: 768px) {
  #page-container {
    padding: 0;
  }
  #page-container #pagination-page-top {
    display: none;
  }
  #page-container .pagination .page, #page-container .pagination .next, #page-container .pagination .first, #page-container .pagination .last, #page-container .pagination .previous {
    margin-left: 10px;
    margin-right: 10px;
  }
  #page-container .back-to-gallery {
    margin-bottom: 10px;
  }
}
.userpage-username, .dash-username {
  font-size: 20px;
  font-weight: bold;
}
#profile-update {
  text-align: left;
}
#user-info {
  text-align: left;
}
.admin {
  color: red;
  font-weight: bold;
}
.red {
  color: red !important;
}
.dashfav, .similar {
  margin: 10px;
}
#change-password #id_old_password, #change-password #id_new_password1, #change-password #id_new_password2 {
  border: 0 none;
  border-radius: 3px;
  outline: 0 none;
}
#change-password-button {
  height: 40px;
}
#favorites-search-bar {
  background-color: #cfd9dc;
  border: 0 none;
  border-radius: 3px;
  height: 35px;
  outline: 0 none;
  padding: 10px;
  width: 200px;
}
#favorites-search-form {
  margin-bottom: 20px;
}
#favorites-search-button {
  height: 35px;
  width: 40px;
}
.favorite {
  display: inline-block;
}
.favorite .gallery {
  height: auto;
  width: auto;
}
.favorite .btn.remove {
  background-color: #e32636;
  display: inline-block;
  margin: 5px auto 10px;
}
.favorite .btn.remove:hover {
  background-color: #e6414f;
  text-decoration: none;
}
#favcontainer {
  padding: 10px;
}
#favorites-search-container {
  margin-top: 30px;
  padding: 10px 10px 45px;
}
.removed {
  opacity: 0.5;
}
ul.nav.navbar-nav > li > a {
  background-color: #2a3744;
  color: white;
}
ul.nav.navbar-nav > li > a:hover {
  background-color: #475d73;
  color: white;
}
#navbar-container .navbar-header a.navbar-brand:hover {
  background-color: #475d73;
}
@media (min-width: 768px) {
  #navbar-container .navbar-header {
    width: 390px;
  }
}
.navbar-right {
  margin-bottom: 0;
}
ul.nav.navbar-nav > li.active > a {
  background-color: #ed2553;
  color: white;
}
ul.nav.navbar-nav > li.active > a:hover {
  background-color: #f15478;
  color: white;
}
nav .navbar-form {
  margin-bottom: 7px;
  margin-left: 0;
  margin-right: 0;
}
.alphabetical-pagination {
  list-style: outside none none;
  margin-bottom: 0;
  padding-left: 0;
}
.alphabetical-pagination li {
  display: inline-block;
}
.alphabetical-pagination li a, .alphabetical-pagination li span {
  display: inline-block;
  font-size: 1.15em;
  min-width: 26px;
  padding: 2px;
  text-align: center;
}
.alphabetical-pagination li a:hover, .alphabetical-pagination li span:hover {
  background-color: #eaeeef;
  border-radius: 100%;
}
.alphabetical-pagination li a.current, .alphabetical-pagination li span.current {
  font-weight: bold;
}
.alphabetical-pagination li a.disabled, .alphabetical-pagination li span.disabled {
  color: #999;
}
#tag-container {
  -moz-column-rule: 1px solid #e2e8e9;
  -moz-columns: auto 200px;
  padding-bottom: 5px;
}
#tag-container .tag {
  background-color: inherit;
  border-radius: 5px;
  color: inherit;
  display: block;
  font-weight: normal;
  padding-bottom: 5px;
  padding-top: 5px;
  page-break-inside: avoid;
}
#tag-container .tag:hover, #tag-container .tag.hover {
  background-color: #eaeeef;
}
#tag-container section {
  border: 1px solid transparent;
  border-radius: 5px;
}
#tag-container section:first-of-type h2 {
  margin-top: 0;
}
#tag-container section:target {
  background-color: #eaeeef;
  border-color: #c4cfd3;
}
#tag-container section:target .tag:hover {
  background-color: #f6f7f8;
}
.form-control {
  border: 0 none;
  box-shadow: none;
  transition: none 0s ease 0s ;
}
.form-control.form-control-avatar {
  height: auto;
}
.form-control.form-control-avatar > div {
  display: inline-block;
}
.form-control.form-control-avatar > div img {
  display: block;
}
div.form-control {
  background-color: transparent;
}
.settings-form {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
#settings-container {
  text-align: left;
}
#settings-container .control-label {
  text-align: right;
}
#settings-container input[type="text"] {
  width: 50%;
}
#settings-container h2 {
  text-align: center;
}
#settings-container form {
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
}
.container.error h1 {
  font-size: 50px;
}
.container.error blockquote {
  font-size: 25px;
  font-style: italic;
}
.container.error img {
  max-width: 100%;
}
.nobold {
  font-weight: normal;
}
.modal {
  overflow-y: hidden;
  text-align: left;
  top: 20%;
}
html.theme-blue, html.theme-blue body {
  background-color: #202a34;
  color: #d9d9d9;
}
html.theme-blue .modal {
  color: #34495e;
}
html.theme-blue a.btn {
  color: white;
}
html.theme-blue ul.nav.navbar-nav > li > a, html.theme-blue a {
  color: #d9d9d9;
}
html.theme-blue ul.nav.navbar-nav > li.active > a {
  color: white;
}
html.theme-blue .ncontainer, html.theme-blue .container {
  background-color: #2a3744;
}
html.theme-blue .thumbnail {
  background-color: #303f4d;
}
html.theme-blue .tag, html.theme-blue input.tag:not([type="file"]) {
  background: #3d5064 none repeat scroll 0 0;
  color: #d9d9d9;
}
html.theme-blue .tag:hover, html.theme-blue input.tag:hover:not([type="file"]), html.theme-blue .tag.hover, html.theme-blue input.tag.hover:not([type="file"]) {
  background: #4b627a none repeat scroll 0 0;
}
html.theme-blue .tag-autocomplete .autocomplete-wrapper .dropdown {
  background-color: #3d5064;
}
html.theme-blue #tag-container {
  -moz-column-rule-color: #3a4b5d;
}
html.theme-blue #tag-container .tag:hover {
  background: #344454 none repeat scroll 0 0;
}
html.theme-blue #tag-container section:target {
  background: #344454 none repeat scroll 0 0;
  border-color: #475d73;
}
html.theme-blue #tag-container section:target .tag:hover {
  background: #3d5064 none repeat scroll 0 0;
}
html.theme-blue .cover:hover .caption {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
html.theme-blue .caption {
  background-color: #3d5064;
  color: #d9d9d9;
}
html.theme-blue input.form-control, html.theme-blue input:not([type="file"]), html.theme-blue textarea, html.theme-blue .navbar.navbar-default #searchbar {
  background-color: #d9d9d9;
  color: #404040;
}
html.theme-blue #info-container section:not(:last-of-type) {
  border-bottom: 1px solid #3d5064;
}
html.theme-blue .pagination .page:hover, html.theme-blue .pagination .next:hover, html.theme-blue .pagination .first:hover, html.theme-blue .pagination .last:hover, html.theme-blue .pagination .previous:hover {
  background-color: #3d5064;
}
html.theme-blue .alphabetical-pagination a:hover, html.theme-blue .alphabetical-pagination span:hover {
  background-color: #3d5064;
}
html.theme-blue .alphabetical-pagination a.disabled, html.theme-blue .alphabetical-pagination span.disabled {
  color: #737373;
}
html.theme-blue .comment:target {
  background-color: #38495a;
}
html.theme-blue .form-control {
  background-color: inherit;
  border: 0 none;
}
html.theme-blue code {
  background-color: #3d5064;
  border: 0 none;
  color: #a5b6c8;
}
html.theme-black, html.theme-black body {
  background-color: #141414;
  color: #b3b3b3;
}
html.theme-black .modal {
  color: black;
}
html.theme-black a.btn {
  color: white;
}
html.theme-black ul.nav.navbar-nav > li > a, html.theme-black a {
  color: #b3b3b3;
}
html.theme-black ul.nav.navbar-nav > li.active > a {
  background-color: #4d4d4d;
  color: white;
}
html.theme-black #thumbnail-container, html.theme-black .container, html.theme-black .ncontainer {
  background-color: #1a1a1a;
}
html.theme-black .thumbnail {
  background-color: #212121;
}
html.theme-black .tag, html.theme-black input.tag:not([type="file"]) {
  background: #333 none repeat scroll 0 0;
  color: #b3b3b3;
}
html.theme-black .tag:hover, html.theme-black input.tag:hover:not([type="file"]), html.theme-black .tag.hover, html.theme-black input.tag.hover:not([type="file"]) {
  background: #454545 none repeat scroll 0 0;
}
html.theme-black .tag .count, html.theme-black input.tag:not([type="file"]) .count {
  color: #808080;
}
html.theme-black .tag-autocomplete .autocomplete-wrapper .dropdown {
  background-color: #333;
}
html.theme-black #tag-container {
  -moz-column-rule-color: #2e2e2e;
}
html.theme-black #tag-container .tag .count {
  color: #808080;
}
html.theme-black #tag-container .tag:hover {
  background: #262626 none repeat scroll 0 0;
}
html.theme-black #tag-container section:target {
  background: #262626 none repeat scroll 0 0;
  border-color: #404040;
}
html.theme-black #tag-container section:target .tag:hover {
  background: #333 none repeat scroll 0 0;
}
html.theme-black .cover:hover .caption {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
html.theme-black .caption {
  background-color: #2b2b2b;
}
html.theme-black .caption a {
  color: #d9d9d9;
}
html.theme-black input.form-control, html.theme-black input:not([type="file"]), html.theme-black textarea, html.theme-black .navbar.navbar-default #searchbar {
  background-color: #d9d9d9;
  color: #404040;
}
html.theme-black #info-container section:not(:last-of-type) {
  border-bottom: 1px solid #333;
}
html.theme-black .pagination .page:hover, html.theme-black .pagination .next:hover, html.theme-black .pagination .first:hover, html.theme-black .pagination .last:hover, html.theme-black .pagination .previous:hover {
  background-color: #333;
}
html.theme-black .alphabetical-pagination a:hover, html.theme-black .alphabetical-pagination span:hover {
  background-color: #333;
}
html.theme-black .alphabetical-pagination a.disabled, html.theme-black .alphabetical-pagination span.disabled {
  color: #737373;
}
html.theme-black .comment:target {
  background-color: #2b2b2b;
}
html.theme-black .form-control {
  background-color: inherit;
  border: 0 none;
}
html.theme-black .navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
html.theme-black .navbar.navbar-default {
  background-color: #1a1a1a;
}
html.theme-black .navbar.navbar-default .navbar-brand {
  color: #1a1a1a;
}
html.theme-black .navbar-default .navbar-toggle .icon-bar {
  background-color: #1a1a1a;
}
html.theme-black ul.nav.navbar-nav > li > a {
  background-color: #1a1a1a;
}
html.theme-black ul.nav.navbar-nav > li > a:hover {
  background-color: #333;
}
html.theme-black #navbar-container .navbar-header a.navbar-brand:hover {
  background-color: #333;
}
html.theme-black button.secondary, html.theme-black .btn.secondary, html.theme-black .btn-secondary, html.theme-black #search-button.secondary, html.theme-black .tag.secondary, html.theme-black .edit {
  background-color: #4d4d4d;
}
html.theme-black button.secondary:hover, html.theme-black .btn.secondary:hover, html.theme-black .btn-secondary:hover, html.theme-black #search-button.secondary:hover, html.theme-black .tag.secondary:hover, html.theme-black .edit:hover {
  background-color: #595959;
}
html.theme-black #thumbnail-container .gallerythumb .lazyload {
  border: 1px solid #262626;
}
html.theme-black #footer-container .footer-item a {
  color: #333;
}
html.theme-black #footer-container .footer-item a:hover {
  color: #666;
}
html.theme-black code {
  background-color: #292929;
  border: 0 none;
  color: #ed2553;
}
.tooltip-wrapper {
  display: inline-block;
}
